body{
    background-color: black;
    font-family: arial;
    color: black;
}
h1 {
  color: blue;
  font-family: verdana;
}
div{
  background-color: rgb(100, 4, 4);
  color: white;
  width: 300px;
  padding: 20px;
  border-radius: 25px;
  text-align: center;
}
